<!--<div class="inputLabel-wrapper">-->
{{#if label}}
    <label>{{label}}</label>
{{/if}}
    <input
            id = "id{{inputId}}"
            type="{{inputType}}"
            name="{{inputName}}"
            placeholder="{{inputId}}"
            {{disabled}}
    />
<!--</div>-->

